<section class="latest spad">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="section-title">
    <h2>Ultimos artigos</h2>
    <p>Fique atenado em tudo que acontece no mundo em relação a economia com os nossos artigos</p>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="latest__blog__item">
    <h5><a href="#">Onde investir em imóveis em 2021</a></h5>
    <p>Você sabia que a esfera global começa a encendial a econômia...</p>
    <div class="latest__blog__author">
    <div class="latest__blog__author__pic">
    <img src="https://scontent.fvag7-1.fna.fbcdn.net/v/t1.0-9/149492089_1019020642172264_3193645567513694552_n.jpg?_nc_cat=110&ccb=3&_nc_sid=09cbfe&_nc_ohc=W9mpGyEybXQAX_wFXVk&_nc_ht=scontent.fvag7-1.fna&oh=3d15811542b001400a588b1ae8c91dd4&oe=60568340" style="
    width: 40px;
   height: 40px;
   border-radius: 50%;" alt="">
    </div>
    <div class="latest__blog__author__text">
    <h6>Fernando Fernandes</h6>
    <span>20 Fevereiro, 2021</span>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-12 text-center">
    <a href="#" class="primary-btn">Veja mais!</a>
    </div>
    </div>
    </div>
    </section>