<section class="choose spad">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="section-title">
    <h2>Por que as pessoas nos escolhem</h2>
    <p>Iremos te mostrar alguns artefatos que respondem essa pergunta...</p>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="choose__item">
    <img src="assets/choose-1.png" alt="">
    <h5>Rápido e fácil</h5>
   
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="choose__item">
    <img src="assets/choose-2.png" alt="">
    <h5>Negociação em Aberto</h5>
    
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="choose__item">
    <img src="assets/choose-3.png" alt="">
    <h5>Aprovação Rápida</h5>
    
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="choose__item">
    <img src="assets/choose-4.png" alt="">
    <h5>Menores Taxas do Mercado</h5>
    
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="choose__item">
    <img src="assets/choose-5.png" alt="">
    <h5>Totalmente Seguro</h5>
    
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="choose__item">
    <img src="assets/choose-6.png" alt="">
    <h5>Solução Para Sua Vida Financeira"</h5>
   
    </div>
    </div>
    </div>
    </div>
    </section>