<section class="history spad set-bg" style=" 
background-image:url('assets/history.jpg');
">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="section-title">
    <h2>Nossa história</h2>
    <p>A empresa Brazil Valle começou a sua jornada em 2010</p>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-6">
    <div class="history__img">
    <img src="assets/history-img.jpg" alt="">
    </div>
    </div>
    <div class="col-lg-6">
    <div class="history__text nice-scroll">
    <div class="history__item">
    <div class="history__indicator"></div>
    <span>25, Fevereiro de 2010</span>
    <h4>Abertura da Empresa</h4>
    </div>
    <div class="history__item">
    <div class="history__indicator"></div>
    <span>12, Novembro de 2020</span>
    <h4>Abertura em Itajubá</h4>
    </div>
    <div class="history__item">
    <div class="history__indicator"></div>
    <span>25, Janeiro de 2021</span>
    <h4>Atendendo em todo o vale do Paraíba, litoral e Sul de Minas 
        </h4>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>