<div class="contact-widget set-bg" style=" 
background-image:url('assets/fundinho.jpg');
">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 col-md-6">
    <div class="row"> 
    <div class="col-lg-6 col-md-6">
    <div class="contact__widget__item">
    <h4>SÃO JOSÉ DOS CAMPOS - SP</h4>
    <p>RUA MASSAGUAÇU, 166 - JD. SATÉLITE</p>
    </div>
    </div> 
    <div class="col-lg-6 col-md-6">
    <div class="contact__widget__item">
    <h4>ITAJUBÁ</h4>
    <p>RUA FLAMINIO MIRANDA, 49 - PORTO VELHO</p>
    </div>
    </div>
    </div>
    </div>
    <div class="col-lg-6 col-md-6">
    <div class="contact__widget__phone">
    <span>Entre em Contato Agora!</span>
    <h2>(12) 92000-6389</h2>
    </div>
    </div>
    </div>
    </div>
    </div>


  